<!DOCTYPE html>
<html>
    <head>
        <title>Chat web</title>
        <link rel="stylesheet" href="./chat.css" type="text/css">
    </head>


    <script src = "/socket.io/socket.io.js"></script>
    <script>
        //const {option} = require("./option");
        let socket = io();
        let user;
        let group;
        const optionPage = `
                <div id = "errorOptionContainer"></div>
                <h1> Name: ${user} </h1>
                <div id="button-container">
                    <table>
                        <tr>
                            <th><button type = "button" name = "buttonChatAll" class="buttonGo" onclick = "goChatAll()">Chat all</button> </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><button type = "button" name = "buttonChatInvidual" class="buttonGo" onclick = "chatIndividual ()">Chat invidual</button></th>
                            <th><input id="userName" type="text" value="" placeholder="userName"> </th>
                        </tr>
                        <tr>
                            <th><button type = "button" name = "buttonCreateGroup" class="buttonGo" onclick = "createGroup()">Create group</button></th>
                            <th><input id="createGroup" type="text" value="" placeholder="groupName"> </th>
                        </tr>
                        <tr>
                            <th><button type = "button" name = "buttonJoinGroup" class="buttonGo" onclick = "joinGroup()" >Join group</button></th>
                            <th><input id="findGroupName" type="text" value="" placeholder="groupName"></th>
                        </tr>
                    </table>
                </div>`

        function setUsername() {
            socket.emit('setUsername', document.getElementById('name').value);
        };

        function sendMessage() {
            let msg = document.getElementById('message').value;
            if(msg) {
                socket.emit('msg', {message: msg, user: user});
            }
        }

        function sendMessageInGroup() {
            let msg = document.getElementById('messageGroup').value;
            if(msg) {
                console.log(group);
                socket.emit('msgGroup', {message: msg, user: user, groupName: group});
            }
        }

        function goChatAll() {
            document.body.innerHTML = `<h1> Name: ${user} </h1>\
            <input type = "text" id = "message">\
             <button type = "button" name = "button" onclick = "sendMessage()">Send</button>\
             <div id = "messageAllContainer"></div>`;
        }

        function createGroup() {
           // let groupName = document.getElementById('createGroup').value};
            socket.emit('createGroup', {groupName: document.getElementById('createGroup').value});
        }

        function joinGroup() {
            socket.emit('joinGroup', {groupName: document.getElementById('findGroupName').value});
        }

        function chatIndividual() {

        }

        socket.on('userExists', function(data) {
            document.getElementById('error-container').innerHTML = data;
        });

        socket.on('groupNameExists', function (data) {
            document.getElementById('errorOptionContainer').innerHTML = data;
        });

        socket.on('groupNameNoExists', function (data) {
            document.getElementById('errorOptionContainer').innerHTML = data;
        });

        //option screen
        socket.on('userSet', function(data) {
            user = data.username;

            // document.body.innerHTML = `<div w3-include-html="./module/option.html"></div> `
            document.body.innerHTML = optionPage
        });

        //nghe event chat all
        socket.on('newmsg', function(data) {
            if(user) {
                document.getElementById('messageAllContainer').innerHTML += '<div><b>' +
                    data.user + '</b>: ' + data.message + '</div>'
            }
        })

        //nghe event chat group
        socket.on('newmsgGroup', function(data) {
            if(user) {
                document.getElementById('messageGroupContainer').innerHTML += '<div><b>' +
                    data.user + '</b>: ' + data.message + '</div>'
            }
        })

        //nghe su kien tao phong
        socket.on('notificationCreateRoom', function(data) {
            group = data.groupName;
            document.body.innerHTML = `<h1> Group Name: ${document.getElementById('createGroup').value} </h1>\
             <h2> User Name: ${user} </h2>
             <input type = "text" id = "messageGroup">\
             <button type = "button" name = "button" onclick = "sendMessageInGroup()">Send</button>\
             <div id = "messageGroupContainer"></div>`;
            alert(data.msg);
        })

        //nghe su kien vao phong
        socket.on('notificationJoinRoom', function(data) {
            group = data.groupName;
            document.body.innerHTML = `<h1> Group Name: ${document.getElementById('findGroupName').value} </h1>\
             <h2> User Name: ${user} </h2>
             <input type = "text" id = "messageGroup">\
             <button type = "button" name = "button" onclick = "sendMessageInGroup()">Send</button>\
             <div id = "messageGroupContainer"></div>`;
            alert(data.msg);
        })
    </script>

    <body>
        <div id = "error-container"></div>
        <input id = "name" type = "text" name = "name" value = ""
               placeholder = "Enter your name!">
        <button type = "button" name = "button" onclick = "setUsername()">
            Let me chat!
        </button>
    </body>
</html>